/*
 * Select element styles
 * [1] Normalize
 */

select {
  margin: 0; // [1]

  font-family: sans-serif; // [1]
  font-size: 100%; // [1]
  line-height: 1.15; // [1]

}


/* Includes */
//@require "select.option"
