/*
 * Site default font styles and sizes
 */

h1, h2, h3, h4, h5, h6 {
  margin: 0; // [1]
  font-size-adjust: 0.5; // [1]
}

h1 {
  font-size: 4.5rem;
  line-height: 1.1111111;

  font-weight: normal;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;

  font-weight: normal;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.3888888889;

  font-weight: normal;
}

h4, h5, h6 {
  font-size: 1.5rem;
  line-height: 1.25;

  font-weight: normal;
}
