{# index.html #}
{% extends '_layouts/base.layout.twig' %}

{# Needed variables #}
{% set title = "404" %}
{% set description = "This page description" %}


{# Page content #}
{% block content %}
  <h1>Page not found</h1>
  <p>The page you are looking for cannot be found, please consider to view other sections of the site or use our site search.</p>
{% endblock %}
