/*
 * Critical sectioning styles
 * - remember to include all the ones you use if you are supporting
 *   older browsers
 */


/* Includes */
@require "article";
//@require "aside";
@require "body";
//@require "details";
//@require "footer";
@require "header";
@require "html";
@require "main";
@require "nav";
@require "section";
