/* Please change as desired, these are my starting breakpoints */
$bp-s     = 48em      // 768
$bp-s-up  = 48.0625em // 769
$bp-m     = 60em      // 960
$bp-m-up  = 60.0625em // 961
$bp-l     = 73.75em   // 1180
$bp-l-up  = 73.8125em // 1181
$bp-xl    = 87.5em    // 1400
$bp-xl-up = 87.5625em // 1401