/*
 * Critical styles;
 *  - Include files that are needed to style the first view of the site
 *    NOTE: Stylus includes the ìndex.styl` -files by default when not specifying a file
 */



/* Variables and mixins */
@require "../settings/mixins";



/* Base styles */
@require "../base/critical"; // OR gather list here



/* Layout */
@require "../layout/critical"; // OR gather list here



/* Needed components */
@require  "../components/critical"; // OR gather list here
