{# grid.component.twig #}
<main class="l-grid">
{% block grid_content %}
  <article class="l-grid__col--12">
    <h1>Default content</h1>
    <p>This is the default text in <em>grid.component.twig</em></p>
{% endblock %}
</main>
