/*
 * Critical content styles
 * - include only the ones you use
 */


/* Includes */
//@require "audio";
//@require "blockquote";
//@require "canvas";
//@require "hr";
//@require "iframe";
@require "images";
//@require "legend";
@require "links";
@require "lists";
//@require "optgroup";
@require "svg";
//@require "table";
//@require "video";
