/*
 * Figure styles
 * - wrapper for images
 * [1] Non HTML5 support
 */

figure {
  display: block; // [1] - consider removing if you don't need support for old browsers
  margin: 1em 3.0625em;
}


/* Possible imports */
@import "figcaption"
