/*
 * Base document font settings
 * [1] Normalize
 */

html {
  font-size: 1em;
  line-height: 1.4;
  font-family: Arial, sans-serif; // [1]
  -webkit-text-size-adjust: 100%; // [1]
  -webkit-font-smoothing: antialiased; // [1]
  -ms-text-size-adjust: 100%; // [1]
}
