/*
*  Theme specific colors
*  I try name colors respectivly and simple, this helps in reading the code in my opinion.
*  You are right to use any naming convension that suites you the best.
*/

/* Base colors */
$black     = rgb(0, 0, 0)
$white     = rgb(255, 255, 255)

$red        = rgb(205, 0, 0)
$green      = rgb(29, 145, 29)
$blue       = rgb(24, 94, 220)
$blue-light = rgb(197, 212, 252)

$yellow = rgb(255, 255, 0)

$gray       = rgb(120, 120, 120)
$gray-dark  = rgb(88, 88, 88 )
$gray-light = rgb(160, 160, 160)

