[hidden],
template {
  display: none; // Normalize
}

.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.0625em;
  margin: -0.0625em;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625em;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.cf::before,
.cf::after {
  content: " ";
  display: table;
}

.cf::after {
  clear: both;
}


/* JS accessable brekpoints */
// getComputedStyle(someElement,"::after").content === 'x'
.js-resize-helper {
  &::after {
    content: "s";
    display: block;
    width: 0;
    height: 0;

    overflow: hidden;
    z-index: -1;
    +mq-min($bp-m-up) {  content: "m";}
    +mq-min($bp-l-up) {  content: "l";}
    +mq-min($bp-xl-up) { content: "xl";}
  }
}
