// Woff has great browser compability but performance can be improved a bit by using Woff2
/*
@font-face {
  font-family: myfont;
  src: url('../fonts/path/to/myfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/


html {
  font-size: 1em;
  line-height: 1.4;
  font-family: sans-serif;             //Normalize
  -webkit-text-size-adjust: 100%;      //Normalize
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;          //Normalize
}

body {
  // Nomralize
  font-size: 1em;
  line-height: 1.25;
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: $black;
  +mq-min($bp-m-up) {
    line-height: 1.375;
  }
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  // Nomralize
  margin: 0;
  //font-size-adjust: 0.5; // some web fonts may render wrongly due to this setting
}


/* Headers */
h1, h2, h3, h4, h5, h6 {
  max-width: 42em;
  color: $gray-dark;
  //font-family: myfont, sans-serif;
  //font-wight: normal;
  sup {
    font-size: 55%;
  }
}

h1 {
  font-size: 2em;
  line-height: 1.25;
  +mq-min($bp-m-up) {
    font-size: 2.5em;
    line-height: 1.125;
  }
  +mq-min(bp-l-up) {
    font-size: 3em;
    line-height: 1.05;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
  +mq-min($bp-m-up) {
    font-size: 2em;
    line-height: 1.25;
  }
  +mq-min($bp-l-up) {
    font-size: 2.25em;
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
  +mq-min($bp-m-up) {
    font-size: 1.5em;
    line-height: 1.25;
  }
  +mq-min($bp-l-up) {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

h4, h5, h6 {
  font-size: 1.25em;
  line-height: 1.11111111;
  +mq-min($bp-m-up) {
    line-height: 1.22222222;
  }
}

blockquote {
  font-size: 1.25em;
  line-height: 1.25;
  +mq-min($bp-m-up) {
    font-size: 1.5em;
    line-height: 1.45833333;
  }
}

p {
  max-width: 42em;
  font-size: 1.2em;
  +mq-min($bp-s-up) {
    font-size: 1em;
  }
}

::selection,
::-moz-selection {
  background: $blue-light;
  text-shadow: none;  // Nomralize
}

abbr[title] {
  border-bottom: 0.0625em dotted;  // Nomralize
}

small {
  font-size: 80%;
}

pre {
  overflow: auto;  // Nomralize
}

strong {
  font-weight: bold;  // Nomralize
}

em,
dfn {
  font-style: italic;  // Nomralize
}

sub,
sup {
  // Nomralize
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;  // Normalize
}
sub {
  bottom: -0.25em;  // Nomralize
}

mark {
  // Nomralize
  color: $black;
  background: $yellow;
}

code, kbd, pre, samp {
  // Nomralize
  font-family: monospace, monospace;
  font-size: 1em;
}
