/*
 * Fieldset styles
 * [1] Normalize
 * [2] Boilerplate
 */

fieldset {
  //margin: 0; // [2]
  margin: 0 0.125em; // [1]
  padding: 0.35em 0.625em 0.75em; // [1]

  border: 0.0625em solid gray; // [1]
  font-size-adjust: 0.5; // [1]
}
