/* * Global grid * - flexbox is used and fallbacks applied * - Modernizr required for fallbacks * - 12 column grid used as base * [1] IE 10 support *//* Local variables */$maxGridWidht = 75em;/* Flexbox grid with backup for no flexbox support */.l-grid {  display: flex;  flex-direction: row;  flex-wrap: wrap;  max-width: $maxGridWidht;  margin: 0 auto;  // No flexbox support  .no-flexbox & {  }}/* Full widht item */.l-grid__col--12 {  flex: 0 1 100%;  display: inline; //[1]  // No flexbox support  .no-flexbox & {  }}/* Half widht item */.l-grid__col--6 {  flex: 0 1 50%;  display: inline; //[1]  // No flexbox support  .no-flexbox & {  }}/* Third of container widht */.l-grid__col--4 {  flex: 0 1 25%;  display: inline; //[1]  // No flexbox support  .no-flexbox & {  }}/* Fourth of width item */.l-grid__col--3 {  flex: 0 1 33.3333333%;  display: inline; //[1]  // No flexbox support  .no-flexbox & {  }}