/*
 * Main critical styles
 */


/* Document base font size and settings */
//@require "abbr.dfn"
@require "base"
//@require "code"
@require "headers"
//@require "kdb"
//@require "mark"
@require "paragraph"
//@require "pre"
//@require "samp"
//@require "selection"
//@require "small"
//@require "sub.sup"
@require "webfonts"
