/* Links */

a {
  // Nomralize
  background-color: transparent;
  color: $blue;
  text-decoration: none;
  &:hover,
  &:active {
    border-bottom: 0.0625em solid $blue;
    outline: 0;  // Nomralize
  }
}
