audio {
  display: inline-block;
  vertical-align: baseline; // Nomalize
  //vertical-align: middle;   // Boiler
}

audio:not([controls]) {
  display: none; // Nomalize
  height: 0;     // Nomalize
}
