fieldset {
  //margin: 0;                      //Boiler
  margin: 0 0.125em;              //Normalize
  //padding: 0;                     //Boiler
  padding: 0.35em 0.625em 0.75em; //Normalize
  //border: 0;                      //Boiler
  border: 0.0625em solid $gray; //Normalize
}
