hr {
  display: block;
  height: 0;                // Normalize
  margin: 1em 0;
  padding: 0;

  border: 0;                // Normalize
  border-top: 0.0625em solid $gray;
  box-sizing: content-box;  // Boiler
}
